<mat-toolbar-row color="primary">
    <span>Cornelio Procopio</span>
    <span class="example-spacer"></span>
    <mat-icon class="menu-botao" color="primary">
        favorite
    </mat-icon>
    <mat-icon class="menu-botao" color="primary">
        filter_list
    </mat-icon>
</mat-toolbar-row>
<mat-card *ngFor="let objTemp of retorno">
    <mat-card-header>
        <img matCardAvatar [src]="objTemp.photoURL">
        <mat-card-title>{{objTemp.displayName}}</mat-card-title>
        <mat-card-subtitle>{{objTemp.tipo}}</mat-card-subtitle>
    </mat-card-header>

    <mat-tab-group mat-stretch-tabs headerPosition="below" mat-align-tabs="center" color="primary" backgroundColor="primary">
        <mat-tab *ngFor="let item of objTemp.promos">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                {{item.title}}
            </ng-template>
            <img matCardImage [src]="item.thumbnail">
            <p>{{item.about}}</p>
        </mat-tab>
    </mat-tab-group>

    <mat-card-actions align="start">
        <button mat-raised-button (click)="onClick">Action</button>
        <button mat-raised-button (click)="onClick">Action</button>
        <button mat-raised-button (click)="onClick" color="primary">Action</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>